name: Change validation

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install npm@latest
        run: sudo npm i -g npm
      - name: Install dependencies
        run: npm i
      - name: Lint
        run: npm test
      - name: Run unit tests
        run: npm run test:ci
      - name: Upload coverage reports
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
      - name: Build
        run: npm run build
